body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefeef;
    color: #333;
}

header {
    background-color: #0078D7;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav h2 {
    margin: 5px;
    text-align: center;
}

a.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0078D7;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #005BB5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table td {
    padding: 10px;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #e3e3e3;
    transition: background-color 0.3s ease;
}

.hidden-border td {
    border: none;
}
